#introduction .card,
#introduction .card-footer {
  background-color: #252d38;
  color: #c4c6c9;
  border: 0;
}
#introduction .card-title {
  color: white;
}

#introduction a {
  text-decoration: none;
}
.tag {
  color: #c4c6c9;
}

#introduction .card-title:hover,
#introduction .card-text:hover,
#introduction .tag:hover {
  color: #30a9de;
}
