.light .navbar-custom {
  --navbar-text: #000000;
  --navbar-bg-scrolled: #ffeedb;
}

.light .navbar-custom.scrolled {
  --navbar-text: #333333;
}

/* Dark theme navbar */
.dark .navbar-custom {
  --navbar-text: #ffffff;
  --navbar-bg-scrolled: #1f3144;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--navbar-text) !important;
  text-decoration: none; /* Add this back if needed */
}
.navbar-custom .nav-link {
  font-size: 1.2rem;
}

.navbar-custom .navbar-brand {
  font-size: 1.5rem; /* Add this back if you want the larger brand text */
}

.navbar-custom .theme-toggle {
  color: var(--navbar-text) !important;
}
