.cell {
  border: 1px solid #999;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5vmin;
  padding: 0;
}

.top-bold {
  border-top: 2px solid #000;
}
.left-bold {
  border-left: 2px solid #000;
}
.right-bold {
  border-right: 2px solid #000;
}
.bottom-bold {
  border-bottom: 2px solid #000;
}

.input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 5.5vmin;
  border: none;
  outline: none;
  padding: 0;
  color: #0a787e;

  cursor: pointer;
  caret-color: transparent;
}

.selected {
  background-color: #23cfdb;
}
