.sudoku-board {
  width: 90vmin;
  height: 90vmin;
  max-width: 450px;
  max-height: 450px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 2px solid black;
}

.number-btn {
  width: 48px;
  height: 48px;
  font-size: 1.4rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
