.dark {
  background-color: #181c27;
  --text-color: #c4c6c9;
  --link-hover-color: #30a9de;
  --link-hover-bg-color: #364151;
  --text-muted-color: #adb5bd;
  color-scheme: dark;
}
.light {
  background-color: #ffeee0;
  --text-color: #3c4858;
  --link-hover-color: #30a9de;
  --link-hover-bg-color: #f8f9fa;
  --text-muted-color: #6c757d;
}

body {
  background-color: inherit !important;
  color: var(--text-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color) !important;
}
p,
span,
div {
  color: var(--text-color);
}

strong,
b {
  color: var(--text-color);
  font-weight: 600; /* Optional: make it slightly bolder in dark theme */
}
html.dark .text-muted,
html.light .text-muted {
  color: var(--text-muted-color) !important;
}

.form-control.bg-dark::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-select.bg-dark {
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3e%3cpath d='M1.5 5.5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

a {
  cursor: pointer;
}

/* Light mode */
html.light .card {
  background: #ffffff;
  color: #222;
  border: 1px solid #ddd;
}

/* Dark mode */
html.dark .card {
  background: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid #444;
}
html.dark .icon {
  filter: invert(1);
}
.hover-bg-light:hover {
  background-color: #f8f9fa;
}
